<div class="container">
  <img src="./../../../assets/miniflix-logo.png" alt="miniflix"/>
  <h2>About Miniflix</h2>
  <h4>Go to the user tab to get started quickly..</h4>
  <img src="./../../../assets/popcorn.png" alt="popcorn pack"/>
  <p>Image by <a href="https://pixabay.com/users/Clker-Free-Vector-Images-3736/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=312386">Clker-Free-Vector-Images</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=312386">Pixabay</a></p>
  <p>Details about our app, and service, here..</p>
</div>
