<form class="form-signin regForm">
    <img class="mb-4" src="./../../../assets/miniflix-logo.png" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal"> Login</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    
    <button class="btn btn-lg btn-success btn-block" type="submit">Login</button>
    OR
    <p><img src="./../../../assets/google-logo.png" alt="google" id="g-logo"/><a href="https://accounts.google.com" target="_blank">Login with Google</a></p>
    <p>Don't have an account?  <a routerLink="/signup">Sign Up</a></p>
  </form>
  <hr/>
