<main role="main">
<div class="jumbotron">
  <div class="container">
    <!--<img src="https://cdn.pixabay.com/photo/2013/11/28/10/02/photo-camera-219958__340.jpg" alt="film"/>-->
    <h1 class="display-3">What do you want to watch today?</h1>
    <p>Get a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.</p>
    <p><a class="btn btn-success btn-lg" routerLink="signup" role="button">Sign Up Free</a></p>
  </div>
</div>

<div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Movies</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-info" href="#" role="button" data-toggle="modal" data-target="#myModal">See more &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>T.V. shows</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        <p><a class="btn btn-info" href="#" role="button">See more &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2>Blockbusters</h2>
        <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-info" href="#" role="button">See more &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

  <h3 class="shadow p-3 mb-5 bg-white rounded">Premium showing</h3>

  <hr>

  <div class="card-columns">

    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:400px">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/08/28/00/01/thejoker-2688077__340.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">The Joker</h4>
        <p class="card-text">2019</p>
        <a href="#" class="btn btn-info stretched-link">View details</a>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:400px">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2016/02/24/11/56/human-1219639__340.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Die freundershund</h4>
        <p class="card-text">1978</p>
        <a href="#" class="btn btn-info stretched-link">View details</a>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:400px">
      <img class="card-img-top" src="https://cdn.pixabay.com/photo/2013/01/29/20/45/poster-76647__340.jpg" alt="Card image" style="width:100%">
      <div class="card-body">
        <h4 class="card-title">Arizona</h4>
        <p class="card-text">1967</p>
        <a href="#" class="btn btn-info stretched-link">View details</a>
      </div>
    </div>

    <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:400px">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/06/26/23/17/movie-poster-2445559__340.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Dance floor - Piano</h4>
          <p class="card-text">2017</p>
          <a href="#" class="btn btn-info stretched-link">View details</a>
        </div>
      </div>
  
      <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:400px">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2012/10/25/23/24/film-poster-62856__340.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">3 Friends</h4>
          <p class="card-text">1992</p>
          <a href="#" class="btn btn-info stretched-link">View details</a>
        </div>
      </div>
  
      <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="width:400px">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2017/07/26/06/31/road-2540632__340.jpg" alt="Card image" style="width:100%">
        <div class="card-body">
          <h4 class="card-title">Run away</h4>
          <p class="card-text">2011</p>
          <a href="#" class="btn btn-info stretched-link">View details</a>
        </div>
      </div>

  </div><!-- card columns -->

  <!-- The Modal -->
  <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
        
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Movies</h4>

            <div class="search-container">
                <form action="">
                  <input type="text" placeholder="Search.." name="search">
                  <button type="submit"><i class="fa fa-search"></i></button>
                </form>
              </div>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          
          <!-- Modal body -->
          <div class="modal-body">
              
              <div class="card-columns">
                  <div class="card bg-info">
                    <img src="https://cdn.pixabay.com/photo/2017/06/29/00/10/movie-poster-2452656__340.jpg" alt="poster" class="modal-img"/>
                    <div class="card-body text-center">
                      <p class="card-text">Adventure  2017 </p><i class="fa fa-heart"></i>
                    </div>
                  </div>
                  <div class="card bg-info">
                    <img src="https://cdn.pixabay.com/photo/2012/11/28/10/00/film-poster-67593__340.jpg" alt="poster" class="modal-img"/>
                    <div class="card-body text-center">
                      <p class="card-text">Plan 9 from outer space  1972</p><i class="fa fa-heart"></i>
                    </div>
                  </div>
                  <div class="card bg-info">
                    <img src="https://cdn.pixabay.com/photo/2017/06/29/00/11/poster-2452658__340.jpg" alt="poster" class="modal-img"/>
                    <div class="card-body text-center">
                      <p class="card-text">Orchid moon  1998</p><i class="fa fa-heart"></i>
                    </div>
                  </div>
                  <div class="card bg-info">
                      <img src="https://cdn.pixabay.com/photo/2015/11/12/19/06/french-1040823__340.jpg" alt="poster" class="modal-img"/>
                    <div class="card-body text-center">
                      <p class="card-text"> Hotel l'eau  2007</p><i class="fa fa-heart"></i>
                    </div>
                  </div>
                  <div class="card bg-info">
                      <img src="https://cdn.pixabay.com/photo/2017/05/13/21/41/graphic-design-2310751__340.jpg" alt="poster" class="modal-img"/>
                    <div class="card-body text-center">
                      <p class="card-text">Stairway to Heaven  1956</p><i class="fa fa-heart"></i>
                    </div>
                  </div>
                  <div class="card bg-info">
                      <img src="https://cdn.pixabay.com/photo/2016/11/15/07/09/photo-manipulation-1825450__340.jpg" alt="poster" class="modal-img"/>
                    <div class="card-body text-center">
                      <p class="card-text">Alien attack  2009</p><i class="fa fa-heart"></i>
                    </div>
                  </div>
                </div>
                <!-- second column -->
                <div class="card-columns">
                    <div class="card bg-info">
                      <img src="https://cdn.pixabay.com/photo/2017/06/29/00/10/movie-poster-2452656__340.jpg" alt="poster" class="modal-img"/>
                      <div class="card-body text-center">
                        <p class="card-text">Adventure  2017 </p><i class="fa fa-heart"></i>
                      </div>
                    </div>
                    <div class="card bg-info">
                      <img src="https://cdn.pixabay.com/photo/2012/11/28/10/00/film-poster-67593__340.jpg" alt="poster" class="modal-img"/>
                      <div class="card-body text-center">
                        <p class="card-text">Plan 9 from outer space  1972</p><i class="fa fa-heart"></i>
                      </div>
                    </div>
                    <div class="card bg-info">
                      <img src="https://cdn.pixabay.com/photo/2017/06/29/00/11/poster-2452658__340.jpg" alt="poster" class="modal-img"/>
                      <div class="card-body text-center">
                        <p class="card-text">Orchid moon  1998</p><i class="fa fa-heart"></i>
                      </div>
                    </div>
                    <div class="card bg-info">
                        <img src="https://cdn.pixabay.com/photo/2015/11/12/19/06/french-1040823__340.jpg" alt="poster" class="modal-img"/>
                      <div class="card-body text-center">
                        <p class="card-text"> Hotel l'eau  2007</p><i class="fa fa-heart"></i>
                      </div>
                    </div>
                    <div class="card bg-info">
                        <img src="https://cdn.pixabay.com/photo/2017/05/13/21/41/graphic-design-2310751__340.jpg" alt="poster" class="modal-img"/>
                      <div class="card-body text-center">
                        <p class="card-text">Stairway to Heaven  1956</p><i class="fa fa-heart"></i>
                      </div>
                    </div>
                    <div class="card bg-info">
                        <img src="https://cdn.pixabay.com/photo/2016/11/15/07/09/photo-manipulation-1825450__340.jpg" alt="poster" class="modal-img"/>
                      <div class="card-body text-center">
                        <p class="card-text">Alien attack  2009</p><i class="fa fa-heart"></i>
                      </div>
                    </div>
                  </div>
          </div><!-- modal body -->
          
        </div>
      </div>
    </div><!-- Modal -->

</main>
