<div class="container">
  <h1>Movies</h1>
  <form class="form-inline my-2 my-lg-0 search-form">
      <input class="form-control mr-sm-2" type="text" placeholder="Search.." aria-label="Search">
      <button class="btn btn-outline-success bg-warning my-2 my-sm-0" id="search-btn" type="submit">Search</button>
  </form>
  <hr>
  <div class="card shadow p-3 mb-5 bg-white rounded" style="width:400px" *ngFor="let m of movies" >
    <div class="card-body">
      <h4 class="card-title">{{m.title}}</h4>
      <p class="card-text">{{m.released}}</p>
      <p><i class="fa fa-heart"></i></p>
      <a [routerLink]="['/movie-details', m.id]" class="btn btn-outline-success">See Details</a>
    </div>
    <img class="card-img-bottom" src="{{m.image}}" alt="{{m.title}}" style="width:100%">
  </div>
</div>
