<main role="main">
  <div class="jumbotron">
    <div class="container">
      <!--<img src="https://cdn.pixabay.com/photo/2013/11/28/10/02/photo-camera-219958__340.jpg" alt="film"/>-->
      <h1 class="display-3">What do you want to watch today?</h1>
      <p>Get a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.</p>
      <!-- <p><a class="btn btn-success btn-lg" routerLink="signup" role="button">Sign Up Free</a></p> -->
    </div>
  </div>

  <!-- movie posters cards -->
  <app-movie-list></app-movie-list>
</main>
